@page {
  size: 8.5in 11in;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
}

body {
  font-family: "Arimo", sans-serif;
  padding: 0.5in;
  margin: 0.5in;
  background-color: white;
  position: relative;
  width: 8.5in;
  height: 11in;
  display: flex;
  justify-content: space-between;
}

aside {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0.5in;
  width: 2.5in;
  background-color: rgb(19, 54, 131);
  font-size: 0.25in;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 125%;
}

main {
  position: absolute;
  left: 3in;
  right: 0;
  top: 0;
  bottom: 0.5in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 125%;
}

h1 {
  margin: 0;
  font-size: 0.4in;
  padding: 0.1in;
  padding-left: 0.15in;
}

aside h2 {
  font-size: 0.3in;
  background-color: #002e58;
  padding: 0.1in;
  padding-left: 0.15in;
  padding-top: 0.16in;
  margin-bottom: 0in;
}

aside h3 {
  font-size: 0.3in;
  padding: 0.1in;
  padding-left: 0.2in;
  margin-top: 0.1in;
  margin-bottom: 0.035in;
  padding-bottom: 0;
}

aside div {
  text-align: right;
  margin: 0.1in;
  padding-right: 0.1in;
}

main h3 {
  padding-left: 0;
}

.p-job-title {
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
}

.personal_info {
  font-size: 0.2in;
  padding-top: 0;
  margin-top: 0;
}

.smaller {
  font-size: 0.15in;
}

.smaller a {
  text-decoration: underline;
}

.phone {
  padding-top: 0;
  margin-top: 0;
  font-size: 0.325in;
}

.linkedin {
  padding-top: 0;
  margin-top: 0;
  font-size: 0.18in;
}

.github {
  padding-top: 0;
  margin-top: 0;
  font-size: 0.22in;
}

.twitter {
  padding-top: 0;
  margin-top: 0;
  font-size: 0.37in;
}

a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  margin-left: 0.1in;
}

section h2 {
  font-size: 0.25in;
  color: #002e58;
  margin-top: 0.01in;
  margin-bottom: 0;
  padding: 0.1in;
  padding-bottom: 0.08in;
  padding-left: 0.2in;
  padding-right: 0.2in;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

section div h3:first-child {
  padding-top: 0.01in;
}

section > div {
  padding-left: 0.2in;
  font-size: 0.2in;
}

section a {
  color: #002e58;
}

.bare {
  padding-top: 0.1in;
}
